
img {
    border: 5px solid black;
    max-width: 95%;
    height: auto;
    margin: 15px;
}

.highlight {
    color: black;
    font-size: 18px;
    background-color: rgb(123, 255, 191);
    text-indent: 8px;
    margin: 15px;
    margin-right: 1000px;
}

#special-text { 
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: 5px double black;
    padding: 10px;
    margin: 15px;
    border-radius: 75px; 
}

h1 {
    border: 5px double white;
    color: white;
    font-size: 85px;
    font-weight: bold;
    text-align: center;
    background-color: #292929
}

h2 {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    background-color: #514f4f
    
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 15px;
    padding: 7px;
}


h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
    padding: 0px;
    }

p {
    margin: 15px;
    padding: 0px;
}


body {
    background-color: #eef5ef!important;
}



footer {
    color: #919191;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 15px;
    padding-top: 152px;
}


